<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="addform">
    <form th:action="@{/addappointment}" th:object="${appointment}" method="POST">
        <div class="inputfield"><div>Appointment ID </div> <div><input type="number" name="aid"> </div> </div>
        <br>
        <div class="inputfield"><div>Patient ID </div> <div><input type="number" name="pid"/> </div> </div>
        <br>
        <div class="inputfield"><div>Doctor ID </div> <div><input type="number" name="did" /></div> </div>
        <br>
        <div class="inputfield"><div>Illness </div><div><input type="text" name="illness"/> </div> </div>
        <br>
        <div class="inputfield"><div>Date</div> <div><input type="date" name="date" /> </div> </div>
        <br>
        <div class="inputfield"><div>Mode </div><div><input type="text" name="mode" /> </div> </div>
        <br>
        <div class="inputbuttondiv"><input class="inputbutton" type="submit" value="Add Appointment"></div>
    </form>
    </div>
</body>
</html>