<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Doctor</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <div class="addform">
        <form th:action="@{/adddoctor}" th:object="${doctor}" method="POST">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" /> 
            <div class="inputfield"> <div> Unique ID </div> :    <div> <input type="number" name="id"/> </div> </div>
            <br>
            <div class="inputfield"> <div>Name </div>       :     <div> <input type="text" name="name"/> </div> </div>
            <br>
            <div class="inputfield"> <div>Qualification </div>  :  <div> <input type="text" name="qualification" /> </div></div>
            <br>
            <div class="inputfield"> <div>Department </div>    :  <div> <input type="text" name="department" />  </div></div>
            <br>
            <div class="inputfield"> <div>Fees </div>       :     <div> <input type="number" name="fees" /> </div></div>
            <br>
            <div class="inputfield"> <div>Phone </div>       :    <div> <input type="number" name="phone" /> </div></div>
            <br>
            <div class="inputbuttondiv"><input class="inputbutton" type="submit" value="Add Doctor"></div>
        </form>
    </div>
</body>

</html>