<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="addform">
<form th:action="@{/addpatient}" th:object="${patient}" method="POST">
    <!-- <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />  -->
    <div class="inputfield"> <div>Unique ID </div>   <div><input type="number" name="id"/> </div> </div>
    <br>
    <div class="inputfield"> <div>Name </div>        <div><input type="text" name="name"/>  </div> </div>
    <br>
    <div class="inputfield"> <div>DOB </div>         <div><input type="date" name="dob" /> </div> </div>
    <br>
    <div class="inputfield"> <div>Blood Group </div> <div><input type="text" name="blood" /> </div> </div>
    <br>
    <div class="inputfield"> <div>Phone </div>       <div><input type="number" name="phone" /> </div> </div>
    <br>
    <div class="inputbuttondiv"><input class="inputbutton" type="submit" value="Add Patient"></p> </div>
    <br>
</form>
    </div>
</body>
</html>