<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Appointments</h1>
    <br/>
<table class="table">
    <thead>
    <tr>
        <th scope="col">appointment</th>
        <th scope="col">Appointment Date</th>
        <th scope="col">Pateint ID</th>
        <th scope="col">Doctor ID</th>
        <th scope="col">Illness</th>
        <th scope="col">Mode</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="appointment : ${appointments}">
        <td th:text="${appointment.appointmentId}"></td>
        <td th:text="${appointment.dateOfAppointment}"></td>
        <td th:text="${appointment.patientId}"></td>
        <td th:text="${appointment.doctorId}"></td>
        <td th:text="${appointment.patientIllness}"></td>
        <td th:text="${appointment.modeOfAppointment}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>