<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="appointment : ${appointments}">
        <th th:text="${appointment.id}">1</th>
        <th th:text="${appointment.pid}">1</th>
        <th th:text="${appointment.did}">1</th>
        <th th:text="${appointment.date}">1</th>
        <th th:text="${appointment.mode}">1</th>
    </tr>
    </tbody>
</table>

</body>
</html>