<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Doctors Details</h1>
    <br/>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Qualification</th>
        <th scope="col">Department</th>
        <th scope="col">Phone</th>
        <th scope="col">Availabilty</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="doctor : ${doctors}">
        <td th:text="${doctor.doctorName}"></td>
        <td th:text="${doctor.doctorQualification}"></td>
        <td th:text="${doctor.doctorDepartment}"></td>
        <td th:text="${doctor.doctorPhone}"></td>
        {% comment %} 
            Availabilty has to be implemented using simple string
            Eg: Mon Wed Fri 10AM - 1PM
        {% endcomment %}
        <!-- <td th:text="${doctor.doctorAvailability}"></td> -->  

    </tr>
    </tbody>
</table>
</body>
</html>