<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="doctor : ${doctors}">
        <th th:text="${doctor.name}">1</th>
        <th th:text="${doctor.qualification}">1</th>
        <th th:text="${doctor.department}">1</th>
        <th th:text="${doctor.phone}">1</th>
    </tr>
    </tbody>
</table>
</body>
</html>