<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Patient Details</h1>
    <br/>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">DOB</th>
        <th scope="col">Blood</th>
        <th scope="col">Phone</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patient : ${patients}">
        <td th:text="${patient.patientName}"></td>
        <td th:text="${patient.patientDob}"></td>
        <td th:text="${patient.patientBlood}"></td>
        <td th:text="${patient.patientPhone}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>