<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="../static/style.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <nav class="navflex">
        <div class="title"><a class="navitems" href="@{/}">Snighda</a></div>
    
        <div class="navi">
            <a class="navitems" href="@{/doctors}">Doctors</a>
            <a class="navitems" href="@{/patients}">Patients</a>
            <a class="navitems" href="@{/appointments}">Appointments</a>
        </div>
    </nav>

    <div class="patienttitle">

    <div>
    <h1>Patients List</h1>
    </div>

    <div>
    <a href="@{/addpatient}"><button class="addpatientbutton">Add Patient</button></a> 
    </div>

    </div>

    <div class="table1">

<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">DOB</th>
        <th scope="col">Blood</th>
        <th scope="col">Phone</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patient : ${patients}">
        <td th:text="${patient.patientName}"></td>
        <td th:text="${patient.patientDob}"></td>
        <td th:text="${patient.patientBlood}"></td>
        <td th:text="${patient.patientPhone}"></td>
    </tr>
    </tbody>
</table>

</div>

</body>
</html>