<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <title>Title</title>
</head>
<body>

    <nav class="navflex">
        <div class="title"><a class="navitems" href="@{/}">Snighda</a></div>
    
        <div class="navi">
            <a class="navitems" href="@{/doctors}">Doctors</a>
            <a class="navitems" href="@{/patients}">Patients</a>
            <a class="navitems" href="@{/appointments}">Appointments</a>
        </div>
    </nav>

    <br><br><br><br>
    Insertion Carried out successfully !
</body>
</html>